/* Hide rows based on selection */
#dialog-mass:has(input[value='all']:checked) tr#small-mass,
#dialog-mass:has(input[value='all']:checked) tr#medium-mass,
#dialog-mass:has(input[value='all']:checked) tr#large-mass,

#dialog-mass:has(input[value='cruiser']:checked) tr.mass-Small,
#dialog-mass:has(input[value='cruiser']:checked) tr#medium-mass,
#dialog-mass:has(input[value='cruiser']:checked) tr#large-mass,

#dialog-mass:has(input[value='battleship']:checked) tr.mass-Small,
#dialog-mass:has(input[value='battleship']:checked) tr.mass-Medium,
#dialog-mass:has(input[value='battleship']:checked) tr#large-mass,

#dialog-mass:has(input[value='capital']:checked) tr.mass-Small, 
#dialog-mass:has(input[value='capital']:checked) tr.mass-Medium, 
#dialog-mass:has(input[value='capital']:checked) tr.mass-Large { display: none }

/* Mod selectors */
.inactive { opacity: 0.5 }

/* Table alignment and spacing */
#massTableContainer {
	text-wrap: nowrap;
	margin-top: 1em;
	max-height: 200px;
	overflow-y: auto;
}

#massTable td:nth-child(1) {
	min-width: 12em;
}

#massTable td:nth-child(2) {
	min-width: 2em;
	text-align: center;
}

#massTable td:nth-child(3) {
	width: 12em;
	text-align: center;
}

#massTable td:nth-child(4), #massTable th:nth-child(4) {
	width: 8em;
	text-align: right;
}

#massTable td:nth-child(5) {
	width: 14em;
	text-align: right;
}
